:root {
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  overflow-x: hidden;
}

body,
#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

section {
  padding-top: 100px;
  margin-top: -100px;
}
