/* CirceRounded-Regular.otf */
@font-face {
  font-family: "Circe Rounded";
  src: url("./CirceRounded-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* NEWS706B.ttf */
@font-face {
  font-family: "News706 BT";
  src: url("./NEWS706B.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
